/~$Αξιολόγηση Εφαρμογής Πλοήγησης Σε Εκθεσιακούς χώρους.pptx
/Έκθεση για την εργασία Διαδραστικές.pdf
/Αξιολόγηση Εφαρμογής Πλοήγησης Σε Εκθεσιακούς χώρους.pptx
/Ομαδική Εργασία στις Διαδραστικές Τεχνολογίες - Ομάδα 1.zip
/Σχεδιαση Εφαρμογής Πλοήγησης Σε Εκθεσιακούς χώρους.pptx